$color1: rgb(94, 44, 255);
$color2: rgb(40, 47, 232);
$color3: rgb(57, 116, 255);
$color4: rgb(40, 148, 232);
$color5: rgb(44, 218, 255);

$lightgrey: #999;
$grey: #eee;
$black: #222;
$white: #f7f7f7;
$linkColor: $black;