.panel
  display: none
  panel()

.panel.open
  display: block
  
.widgetpreview
  width: 100px
  height: 100px    
  margin: 3px;
  background-color: $color4
  display: inline-block
  
.dashboard
  min-height: 600px
  background-color: none
  height: 100%