@import "reset.css";

@import url("http://fonts.googleapis.com/css?family=Play:400,700");
@import "font-awesome.css";
@import "susy";

$susy: (
  global-box-sizing: border-box,
  columns: 12,  // The number of columns in your grid
  gutters: 0.25, // The size of a gutter in relation to a single column
);

@import "colors";
@import "helper";

@import "header";
@import "reports";
@import "dashboard";
@import "widgets";
@import "panels";


* {
  box-sizing: border-box;
}

html,
button,
input,
select,
textarea, {
}

a,
a:visited {
  color: $linkColor;
  text-decoration: none;
}

a:hover {
  color: $linkHoverColor;
}

html {
  height: 100%;
  font-family: 'Play', sans-serif;
}

body {
  min-height: 100%;
}

.app-container {
  @include container;
}

.active {
  background-color: $activeColor;
}

.page {
  @include full;
}