@import 'shared'
@import 'colors'
@import 'normalize'
@import 'helper'
@import 'dashboard'

/* variables */
$lightgrey = #999
$linkColor = $color4
$grey = #eee
$black = #222
$white = #f7f7f7

*
  box-sizing: border-box

html
button
input
select
textarea 
  color: $black

a
a:visited
  color: $linkColor
  text-decoration: none

a:hover
  color: lighten($linkColor,10%)

html
  height: 100%
body
  min-height: 100%

body
  color: $black
  font-size: 1em
  line-height: 1.5
  background-color $color5
  
header
  base()
  padding: 1em
  
  nav
    float:right
    user-select:none
    
  .nav-item
    float:left
    margin-left:.5em
    
    a.active
      text-decoration:underline

.app-container
  height: 100%
  
.content
  height: 100%