.panel
  display: none
  background-color: red

.panel.open
  display: block
  
.widgetpreview
  width: 100px
  height: 100px    
  background-color: blue
  display: inline-block
  
.widgetcontainer
  min-height: 600px
  background-color: green
  height: 100%